// Container Colors

.home-section {
  background-color: #ffffff;
  color: #000000;
}

.type-section {
  background-color: #000000;
  color: #ffffff;
}

.info-section {
  background-color: #f0f0f0;
  color: #000000;
}

.response-section {
  background-color: #f0f0f0;
  color: #000000;
}
