// Font Mixins

// Recursive
@mixin recursive-light {
  font-family: "Recursive", sans-serif;
  font-weight: 300;
  font-style: normal;
}

@mixin recursive-regular {
  font-family: "Recursive", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin recursive-medium {
  font-family: "Recursive", sans-serif;
  font-weight: 500;
  font-style: normal;
}

@mixin recursive-semi-bold {
  font-family: "Recursive", sans-serif;
  font-weight: 600;
  font-style: normal;
}

@mixin recursive-bold {
  font-family: "Recursive", sans-serif;
  font-weight: 700;
  font-style: normal;
}

@mixin recursive-extra-bold {
  font-family: "Recursive", sans-serif;
  font-weight: 800;
  font-style: normal;
}

@mixin recursive-black {
  font-family: "Recursive", sans-serif;
  font-weight: 900;
  font-style: normal;
}
