// Work Name Contain
.work-name-contain {
  padding-top: 11em;
  padding-bottom: 2em;
  text-align: center;
  @include recursive-regular;
}

@include media-breakpoint-up(sm) {
  .work-name-contain {
    padding-top: 11em;
    padding-bottom: 2em;
  }
}

@include media-breakpoint-up(md) {
  .work-name-contain {
    padding-top: 14em;
    padding-bottom: 3em;
  }
}

@include media-breakpoint-up(lg) {
  .work-name-contain {
    padding-top: 14em;
    padding-bottom: 3em;
  }
}

@include media-breakpoint-up(xl) {
  .work-name-contain {
    padding-top: 14em;
    padding-bottom: 3em;
  }
}

// Work Grid
.work-grid {
  padding-top: 2em;
  padding-bottom: 0em;
  padding-left: 0em;
  padding-right: 0em;
  max-width: 2300px;
}

@include media-breakpoint-up(sm) {
  .work-grid {
    padding-top: 2em;
    padding-bottom: 0em;
    padding-left: 1em;
    padding-right: 1em;
  }
}

@include media-breakpoint-up(md) {
  .work-grid {
    padding-top: 2em;
    padding-bottom: 0em;
    padding-left: 1em;
    padding-right: 1em;
  }
}

@include media-breakpoint-up(lg) {
  .work-grid {
    padding-top: 2em;
    padding-bottom: 0em;
    padding-left: 1em;
    padding-right: 1em;
  }
}

@include media-breakpoint-up(xl) {
  .work-grid {
    padding-top: 2em;
    padding-bottom: 0em;
    padding-left: 1em;
    padding-right: 1em;
  }
}

// Work Description
.work-desc {
  padding-top: 4em;
  padding-bottom: 8em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  @include recursive-regular;
}

@include media-breakpoint-up(sm) {
  .work-desc {
    padding-top: 4em;
    padding-bottom: 8em;
    padding-left: 3.2em;
    padding-right: 3.2em;
  }
}

@include media-breakpoint-up(md) {
  .work-desc {
    padding-top: 4em;
    padding-bottom: 8em;
    padding-left: 3.2em;
    padding-right: 3.2em;
  }
}

@include media-breakpoint-up(lg) {
  .work-desc {
    padding-top: 4em;
    padding-bottom: 8em;
    padding-left: 3.2em;
    padding-right: 3.2em;
  }
}

@include media-breakpoint-up(xl) {
  .work-desc {
    padding-top: 4em;
    padding-bottom: 8em;
    padding-left: 3.2em;
    padding-right: 3.2em;
  }
}
